<h2>新規メモ作成</h2>
<form action="/memos" method="post">
  <h3>メモタイトル</h3>
  <div>
    <input type="text" class="form" name= "title" required>
  </div>
  <h3>内容</h3>
  <div>
    <textarea name="body" class="form_body" required></textarea>
  </div>
  <input type="submit" class="btn" value="保存">
</form>
