<h3>メモタイトル：<%= h(@memo['title']) %> </h3>
<h3>内容： <%= h(@memo['body']) %> </h3>

<div class = "form">
  <form action="/memos/<%= @memo['id'] %>/edit" method="get">
    <input type="submit" class="show_btn" value="編集">
  </form>

  <form action="/memos/<%= @memo['id'] %>" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" class="show_btn" value="削除">
  </form>

  <form action="/" method="get">
    <input type="submit" class="show_btn" value="メモ一覧へ">
  </form>
</div>
